body {
	background-image: url("../images/mockupwebsiteEmptyBlueprint.png");
	background-color: grey;
	height: auto;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

#container {
	height: 263vw;
	width: auto;
	display: grid;
	grid-template-columns: 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw;
	grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

p{
	color: white;
	margin: auto;
}

h2 {
	color: white;
	margin: auto;
	font-family: Impact;
}

#Title {
	font-size: 8vw;
	grid-column: 2 / 8;
	grid-row: 1;
	padding-top: 4vw;
	font-family: Impact;
}

#Text_Under_Title {
	font-size: 2.5vw;
	grid-column: 2 / 10;
	grid-row: 1;
	padding-top: 14vw;
	font-family: Arial;
}

#ImageHead {
	grid-column: 10 / 16;
	grid-row: 1;
}

#HeadImage {
	grid-column: 10 / 16;
	grid-row: 1;
	padding-top: 15vw;
	padding-left: 6.75vw;
	width: 34vw;
	height: auto;
}


#whiteframe {
	grid-column: 10 / 16;
	grid-row: 1;
}

#whiteframeImage {
	grid-column: 10 / 16;
	grid-row: 1;
	padding-top: 1vw;
	padding-left: 0vw;
	width: 47vw;
	height: auto;
}






	#SocialMediaText {
		font-size: 2.3vw;
		grid-column: 2 / 10;
		grid-row: 2;
		padding-top: 18vw;
		font-family: Impact;
	}

#SocialMediaImages {
	grid-column: 2 / 10;
	grid-row: 2;
	padding-top: 21vw;
}

.SocialMediaIcons {
	width: 3.75vw;
	height: auto;
	padding: 0.4vw;
}

#TitelTextArea1 {
	font-size: 3vw;
	grid-column: 1 / 8;
	grid-row: 3;
	padding-top: 12vw;
	padding-left: 2vw;
	font-family: Impact;
}

#TextArea1 {
	font-size: 2.5vw;
	grid-column: 1 / 8;
	grid-row: 3;
	padding-top: 16vw;
	padding-left: 2vw;
	font-family: Arial;
}

#TitelTextArea2 {
	font-size: 3vw;
	grid-column: 11 / 18;
	grid-row: 3;
	padding-top: 3vw;
	padding-left: 1.75vw;
	font-family: Impact;
}

#TextArea2 {
	font-size: 2.5vw;
	grid-column: 11 / 18;
	grid-row: 3;
	padding-top: 7vw;
	padding-left: 1.75vw;
	font-family: Arial;
}

#TitelTextArea3 {
	font-size: 3vw;
	grid-column: 1 / 8;
	grid-row: 4;
	padding-top: 18vw;
	padding-left: 2vw;
	font-family: Impact;
}

#TextArea3 {
	font-size: 2.5vw;
	grid-column: 1 / 8;
	grid-row: 4;
	padding-top: 22vw;
	padding-left: 2vw;
	font-family: Arial;
}

#TitelTextArea4 {
	font-size: 3vw;
	grid-column: 11 / 18;
	grid-row: 5;
	padding-top: 13vw;
	padding-left: 1.75vw;
	font-family: Impact;
}

#TextArea4 {
	font-size: 2.5vw;
	grid-column: 11 / 18;
	grid-row: 5;
	padding-top: 17vw;
	padding-left: 1.75vw;
	font-family: Arial;
}

#MeetOurTeamTitle {
	font-size: 3.5vw;
	grid-column: 8 / 14;
	grid-row: 7;
	padding-top: 21vw;
	padding-left: 2.75vw;
	font-family: Impact;
}

#PeopleList {
	padding-top: 3vw;
	grid-column: 4 / 18;
	grid-row: 8 / 9;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	
}
.PeopleListObject{

	width: 50%;
	height: 50%;
	

}

.PeopleListImage{
	
	float: left;
	height: 85%;
	padding-right: 2vw;

}


#HeaderTextTitle {
	font-size: 2vw;
	grid-column: 1/ 8;
	grid-row: 10;
	padding-top: 15vw;
	padding-left: 2vw;
	font-family: Impact;
}

#HeaderText {
	font-size: 1.75vw;
	grid-column: 1 / 8;
	grid-row: 10;
	padding-top: 18vw;
	padding-left: 2vw;
	font-family: Arial;
}

#HeaderImage {
	grid-column: 18 / 20;
	grid-row: 10;
	padding-top: 15.5vw;
	padding-left: 12vw;
	width: 9vw;
	height: auto;
}
#ImageHeader {
	grid-column: 16 / 18;
	grid-row: 10;

}




.Hidden {
	opacity: 0;
	transform: scale(0.1);
	transition: all 1s ease-in-out;
}

.active{
	opacity: 1;
	transform: scale(1);



}